services:
  db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      POSTGRES_DB: user_management_db
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - db:/var/lib/postgresql/data

  app:
    build: .
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DB_URL: jdbc:postgresql://db:5432/user_management_db
    ports:
      - "${HOST_PORT}:${SERVER_PORT}"

volumes:
  db:
    driver: local
